{% extends 'layout.html' %}

{% block main %}
<!--========================
======= Home Section =======
=========================-->
<section id="home">
    <div class="coloroverlay"> <!-- Start background color overlay-->
        <div class="container"> <!-- Start container -->
            <div class="row"> <!-- Start row -->

                <!-- Start left content -->
                <div class="col-sm-6 col-md-6 col-lg-6">

                    <div class="wow fadeInDown"><a href="{{ url }}"><img src="img/logo.png" class="logo" alt="logo"></a></div><!-- This is your logo -->

                    <div class="text space wow fadeInDown" data-wow-delay=".5s"> <!-- This is your text content -->
                        <h1>React Quickly</h1>
                        <h4>by {{ author }}</h4>
                        <p>React Quickly is for anyone who wants to learn React.js fast. This hands-on book teaches you the concepts you need with lots of examples, tutorials, and a large main project that gets built throughout. You'll start with the basics, including how React fits in your application, JSX, and handling states and events. Next, you’ll learn about the core topics like components, forms and and data. Finally, you’ll dive into React integration topics, like unit testing and isomorphic JavaScript with Express.js, and Gulp.</p>
                    </div> <!-- End of your text content -->

                    <a href="https://forums.manning.com/forums/react-quickly" class="page-scroll btn btn-learn wow fadeInDown" data-wow-delay="1s" target="_blank"><span class="fa fa-chain"></span> Learn More</a> <!-- Learn more button link-->

                    <a href="https://www.manning.com/books/react-quickly" class="page-scroll btn btn-download wow fadeInDown" data-wow-delay="1s" target="_blank"><span class="fa fa-shopping-cart" target="_blank"></span> Buy the Book</a> <!-- Download button link-->

                </div> <!-- End left content-->

                <!-- Start right content -->
                <div class="col-sm-6 col-md-6 col-lg-6 wow bounceInRight" data-wow-delay="1.5s" data-wow-duration="2s">
                    <img src="img/books/01.png" class="img-responsive" alt="img"> <!-- Your book image display here -->
                </div> <!-- End right content -->

            </div> <!-- End row -->
        </div> <!-- End container -->
    </div> <!-- End background color overlay-->
    <div class="clearfix"></div>  <!-- Clearfix -->
</section>

<!--========================
 Things that You will Learn
=========================-->
<section id="learn" class="light">
    <div class="container"> <!-- Start container -->

        <div class="row"> <!-- Start row -->
            <div class="section-title col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 wow fadeInDown" >
                <h2>Things that You will Learn from <span class="highlight">the Book</span></h2> <!-- Section title -->
                <p>React is a JavaScript library developed for one main reason — to let you build reusable UI components that present data that changes.</p> <!-- Subtitle -->
            </div>
        </div> <!-- End row -->

        <div class="row"> <!-- Feature lists row -->
            <div class="col-md-4 col-lg-4"> <!-- First column -->

                <dl class="dl-horizontal wow fadeInDown" data-wow-delay="1s" data-wow-duration="1s">
                    <dt><i class="fa fa-check fa-2x"></i></dt>
                    <dd><h4 class="service-heading">React JavaScript Library</h4>
                    <p>React (sometimes styled React.js or ReactJS) is an open-source JavaScript library providing a view for data rendered as HTML, but much more powerful.</p></dd>
                </dl>

                <dl class="dl-horizontal wow fadeInDown" data-wow-delay="1.5s" data-wow-duration="1s">
                    <dt><i class="fa fa-check fa-2x"></i></dt>
                    <dd><h4 class="service-heading">JSX ECMAScript Syntax</h4>
                    <p>React components are typically written in JSX (Programming language), a JavaScript extension syntax allowing easy quoting of HTML and using HTML tag syntax to render subcomponents.</p></dd>
                </dl>

            </div> <!-- End first column -->


            <div class="col-md-4 col-lg-4"> <!-- Second column -->

                <dl class="dl-horizontal wow fadeInDown" data-wow-delay="1s" data-wow-duration="1s">
                    <dt><i class="fa fa-check fa-2x"></i></dt>
                    <dd><h4 class="service-heading">Isomorphic JavaScript Application</h4>
                    <p>With the advent of Node.js, JavaScript has become a compelling “server-side” language as well, which was traditionally the domain of languages like Java, Python and PHP.</p></dd>
                </dl>

                <dl class="dl-horizontal wow fadeInDown" data-wow-delay="1.5s" data-wow-duration="1s">
                    <dt><i class="fa fa-check fa-2x"></i></dt>
                    <dd><h4 class="service-heading">Unit Testing</h4>
                    <p>Development process in which the smallest testable parts of an application, called units, are individually and independently scrutinized for proper operation.</p></dd>
                </dl>

            </div> <!-- End second column -->

            <div class="col-md-4 col-lg-4"> <!-- Third column -->

                <dl class="dl-horizontal wow fadeInDown" data-wow-delay="1s" data-wow-duration="1s">
                    <dt><i class="fa fa-check fa-2x"></i></dt>
                    <dd><h4 class="service-heading">Mobile Development with React Native</h4>
                    <p>Build native iOS and Android apps with JavaScript.</p></dd>
                </dl>

                <dl class="dl-horizontal wow fadeInDown" data-wow-delay="1.5s" data-wow-duration="1s">
                    <dt><i class="fa fa-check fa-2x"></i></dt>
                    <dd><h4 class="service-heading">React Сomponents</h4>
                    <p>reusable components by author. Introduction of some of the most reusable React components.</p></dd>
                </dl>

            </div> <!-- End third column -->
        </div> <!-- End feature lists row -->

    </div> <!-- End container -->
    <div class="clearfix"></div> <!-- Clearfix -->
</section>


<!--========================
===== Subcribe Section =====
=========================-->
<section id="subscribe">
    <div class="cotainer"> <!-- Start container -->

        <div class="col-md-12 wow fadeInDown" data-wow-delay="1s" data-wow-duration="1s">

            <h2>Get Free Chapters from the Book</h2>  <!-- Section title-->

            <!-- Mailchimp Subscription Form -->
            <form id="subscibe" class="subscription-form mailchimp form-inline" role="form" autocomplete="off">
                <!-- Message alerts for success and error -->
                <span class="subscription-success"></span>
                <span class="subscription-error"></span>
                <div class="form-group">
                    <input type="email" name="email" id="subscriber-email" class="subscibe subscribe-input" placeholder="Enter your e-mail address..."  required><!-- Email Form input -->
                    <button type="submit" id="subscribe-button" class="subscibe subscribe-submit">Subscribe</button><!-- Subscription Button -->
                </div>
            </form>
            <!-- End Mailchimp Subscription Form -->

        </div>

    </div> <!-- End Subscription Form Container -->
    <div class="clearfix"></div> <!-- Clearfix -->
</section>


<!--========================
===== Overview Section =====
=========================-->
<section id="overview" class="light">
    <div class="container"> <!--  Start container -->

        <div class="row section-title wow fadeInDown"> <!-- Section title -->
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" >
                <h2>Watch the Video to Learn More about <span class="highlight">the Book</span></h2>
            </div>
        </div> <!-- End section title -->

        <div class="row"> <!-- Start row -->

            <!-- Start right content -->
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="videoWrapper wow fadeInLeft">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/KPVM8PmwtWM" allowfullscreen></iframe> <!-- YouTube video link here -->
                </div>
            </div> <!-- End right content -->

            <!-- Start Left content -->
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="text wow fadeInDown" data-wow-delay=".5s"> <!-- This is your text content -->
                    <h4>This is a Fully Responsive and Modern Ebook Landing Page Template.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div> <!-- End of your text content -->
                <br>
                <a href="#reviews" class="page-scroll btn btn-colored wow fadeInDown" data-wow-delay="1s"> <span class="fa fa-comments-o"></span> Reviews</a> <!-- Learn more button link-->
                <a href="#download" class="page-scroll btn btn-lined wow fadeInDown" data-wow-delay="1s"><span class="fa fa-shopping-cart"></span> Buy the Book</a> <!-- Download more button link-->
            </div> <!-- End left content-->

        </div> <!--  End row -->

    </div><!--  End container -->
    <div class="clearfix"></div> <!-- Clearfix -->
</section>
{% endblock %}

{% block aftervideo %}
<!--========================
====== Facts Counter =======
=========================-->
<section id="counter">
    <div class="coloroverlay"> <!-- Start background color overlay-->
        <div class="container"> <!-- Start container-->

            <div class="col-md-12"> <!-- Start 12 col -->
                <div class="col-md-3 col-xs-6"> <!-- Start counter 1-->
                  <h1 class="count">1289</h1>
                  <h6>Total Downloads</h6>
                </div> <!-- End counter 1-->

                <div class="col-md-3 col-xs-6"> <!-- Start counter 2-->
                  <h1 class="count">163</h1>
                  <h6>Total App Created</h6>
                </div> <!-- End counter 2-->

                <div class="col-md-3 col-xs-6"> <!-- Start counter 3-->
                  <h1 class="count">2089</h1>
                  <h6>Users</h6>
                </div> <!-- End counter 3-->

                <div class="col-md-3 col-xs-6"> <!-- Start counter 4-->
                  <h1 class="count">34</h1>
                  <h6>Win Awards</h6>
                </div> <!-- End counter 4-->
            </div><!-- End 12 col -->

        </div><!-- End container-->
    </div> <!-- End background color overlay-->
    <div class="clearfix"></div> <!-- Clearfix -->
</section>


<!--========================
====== Reviews Section =====
=========================-->
<section id="reviews" class="light">
    <div class="container"> <!-- Start container-->

        <!-- Start right content -->
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="wow fadeInLeft">
                <img src="img/review.png" class="img-responsive" alt=""> <!-- Your book image display here -->
            </div>
        </div> <!-- End right content -->

        <!-- Start left content -->
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="wow fadeInDown"> <!-- Section title -->
                <h2>Praises for <span class="highlight">the Book</span></h2>
            </div> <!-- End section title -->


            <div id="owl-reviews" class="owl-carousel owl-theme"> <!--  Start slider -->

                <div class="item"> <!--  Review slider 1 -->

                    <div class="review">
                        <img src="img/client/01.jpg" alt=""> <!--  Reviewer's Image -->
                        <h4>Gregory Peck <br> <span class="light"> Scientist</span></span></h4> <!--  Reviewer's name and info -->
                        <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                        <h1>"React Quickly is the best thing since sliced bread"</h1>
                    </div>

                </div> <!--  End review slider 1 -->

                <div class="item"> <!--  Review slider 2 -->

                    <div class="review">
                        <img src="img/client/02.jpg" alt=""> <!--  Reviewer's Image -->
                        <h4>Elisabeth Turing <br><span class="light"> Software Engineer</span></span></h4> <!--  Reviewer's name and info -->
                        <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                        <h1>"Azat’s book really helped our team to adopt React and use it in our projects more confidently"</h1>
                    </div>

                </div> <!--  End review slider 2 -->

                <div class="item"> <!--  Review slider 3 -->

                    <div class="review">
                        <img src="img/client/03.jpg" alt=""> <!--  Reviewer's Image -->
                        <h4>John Frusciante <br> <span class="light"> Entrepreneur and inventor</span></h4> <!--  Reviewer's name and info -->
                        <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                        <h1>"With React I was able to prototype faster and deliver MVP like God"</h1>
                    </div>

                </div> <!--  End review slider 3 -->

            </div> <!--  End slider -->

        </div> <!-- End Left content -->

    </div> <!-- End start container-->
    <div class="clearfix"></div> <!-- Clearfix -->
</section>

{% endblock %}
