{% extends 'layout.html' %}

{% block body %}
<!--========================
======= Video Section =======
=========================-->
<section id="home">
    <div class="coloroverlay-video"> <!-- Start background color overlay-->
        <div class="container"> <!-- Start container -->
            <div class="row"> <!-- Start row -->

                <!-- Start content -->
                <div class="col-sm-12 col-md-12 col-lg-12">

                    <div class="wow fadeInDown"><a href="#"><img src="img/logo.png" class="logo" alt="logo"></a></div><!-- This is your logo -->

                    <div class="text space wow fadeInDown" data-wow-delay=".5s"> <!-- This is your text content -->
                        <h1>React Quickly</h1>
                        <h4>by Azat Mardan</h4>
                        <h2 class="text-center">{{page.title}}</h2>
                    </div> <!-- End of your text content -->

                    <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                      <div class="videoWrapper wow fadeInDown" data-wow-delay=".5s"> <!-- video -->
                        <iframe width="560" height="315" src="{{page.url}}" allowfullscreen></iframe> <!-- YouTube video link here -->
                      </div>
                      <div class="text space wow fadeInDown" data-wow-delay=".5s"> <!-- This is your text content -->
                          <p>Very interesting React Quickly video that show you new procedures and other things that you didn't know before. We are strongly recomend to want this video.</p>
                      </div> <!-- End of your text content -->
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2"></div>

                </div> <!-- End content-->

            </div> <!-- End row -->
        </div> <!-- End container -->
    </div> <!-- End background color overlay-->
    <div class="clearfix"></div>  <!-- Clearfix -->
</section>

<!--========================
=== Other Videos Section ====
=========================-->
<section id="videos" class="light">
    <div class="container"> <!-- Start container -->
        <div class="row"> <!-- Screenshots slider row -->
            <div class="col-sm-12 col-md-12 col-lg-12"> <!-- 12 col -->

                <div id="owl-video" class="owl-carousel"> <!-- Start Screenshots slider -->

                  <div class="video-img wow fadeInDown" data-wow-delay="1s" > <!-- Slider video 2-->
                      <a href="#">
                          <img src="img/video.png" class="img-responsive" alt="img">
                      </a>
                      <h4 class="service-heading">Video 2 - React Quickly</h4>
                  </div><!-- End slider video 2 -->

                  <div class="video-img wow fadeInDown" data-wow-delay="1s" > <!-- Slider video 3-->
                      <a href="#">
                          <img src="img/video.png" class="img-responsive" alt="img">
                      </a>
                      <h4 class="service-heading">Video 3 - React Quickly</h4>
                  </div><!-- End slider video 3 -->

                  <div class="video-img wow fadeInDown" data-wow-delay="1s" > <!-- Slider video 4-->
                      <a href="#">
                          <img src="img/video.png" class="img-responsive" alt="img">
                      </a>
                      <h4 class="service-heading">Video 4 - React Quickly</h4>
                  </div><!-- End slider video 4 -->

                  <div class="video-img wow fadeInDown" data-wow-delay="1s" > <!-- Slider video 5-->
                      <a href="#">
                          <img src="img/video.png" class="img-responsive" alt="img">
                      </a>
                      <h4 class="service-heading">Video 5 - React Quickly</h4>
                  </div><!-- End slider video 5 -->

                  <div class="video-img wow fadeInDown" data-wow-delay="1s" > <!-- Slider video 6-->
                      <a href="#">
                          <img src="img/video.png" class="img-responsive" alt="img">
                      </a>
                      <h4 class="service-heading">Video 6 - React Quickly</h4>
                  </div><!-- End slider video 6 -->

                  <div class="video-img wow fadeInDown" data-wow-delay="1s" > <!-- Slider video 7-->
                      <a href="#">
                          <img src="img/video.png" class="img-responsive" alt="img">
                      </a>
                      <h4 class="service-heading">Video 7 - React Quickly</h4>
                  </div><!-- End slider video 7 -->

                  <div class="video-img wow fadeInDown" data-wow-delay="1s" > <!-- Slider video 8-->
                      <a href="#">
                          <img src="img/video.png" class="img-responsive" alt="img">
                      </a>
                      <h4 class="service-heading">Video 8 - React Quickly</h4>
                  </div><!-- End slider video 8 -->

                  <div class="video-img wow fadeInDown" data-wow-delay="1s" > <!-- Slider video 9-->
                      <a href="#">
                          <img src="img/video.png" class="img-responsive" alt="img">
                      </a>
                      <h4 class="service-heading">Video 9 - React Quickly</h4>
                  </div><!-- End slider video 9 -->

                  <div class="video-img wow fadeInDown" data-wow-delay="1s" > <!-- Slider video 10-->
                      <a href="#">
                          <img src="img/video.png" class="img-responsive" alt="img">
                      </a>
                      <h4 class="service-heading">Video 10 - React Quickly</h4>
                  </div><!-- End slider video 10 -->

                </div> <!-- End Screenshots slider -->
            </div> <!-- End 12 col -->

        </div> <!-- End screenshots slider row -->

    </div> <!-- End container -->
    <div class="clearfix"></div> <!-- Clearfix -->
</section>

<!--========================
===== Book Section =====
=========================-->
<section id="overview" class="light">
    <div class="container"> <!--  Start container -->
        <div class="row"> <!-- Start row -->

            <!-- Start right content -->
            <div class="col-sm-6 col-md-6 col-lg-6 wow bounceInLeft">
                <img src="img/books/01_2.png" class="img-responsive" alt="img"> <!-- Your book image display here -->
            </div> <!-- End right content -->

            <!-- Start Left content -->
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="text space wow fadeInDown" data-wow-delay=".5s"> <!-- This is your text content -->
                    <h4>What this book about</h4>
                    <p>React Quickly is for anyone who wants to learn React.js fast. This hands-on book teaches you the concepts you need with lots of examples, tutorials, and a large main project that gets built throughout. You'll start with the basics, including how React fits in your application, JSX, and handling states and events. Next, you’ll learn about the core topics like components, forms and and data.</p>

                    <p>Finally, you’ll dive into React integration topics, like unit testing and isomorphic JavaScript with Express.js, and Gulp.</p>
                </div> <!-- End of your text content -->
                <br>
                <a href="#reviews" class="page-scroll btn btn-colored wow fadeInDown" data-wow-delay="1s"> <span class="fa fa-comments-o"></span> Reviews</a> <!-- Learn more button link-->
                <a href="#download" class="page-scroll btn btn-lined wow fadeInDown" data-wow-delay="1s"><span class="fa fa-shopping-cart"></span> Buy the Book</a> <!-- Download more button link-->
            </div> <!-- End left content-->

        </div> <!--  End row -->

    </div><!--  End container -->
    <div class="clearfix"></div> <!-- Clearfix -->
</section>


<!--========================
===== Download Section =====
=========================-->
<section id="download">
    <div class="coloroverlay"> <!-- Start background color overlay-->
        <div class="container"> <!-- Start container-->

            <div class="row section-title wow fadeInDown"> <!-- Section title and subtitle-->
                <div class="col-md-12">
                    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" >
                       <h2>Purchase the Book Today at your Favourite Shops</h2>
                    </div>
                </div>
            </div> <!-- End section title and subtitle-->

            <div class="col-md-12"> <!-- 12 Columns Description -->
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div> <!-- End 12 Columns Description -->

            <div class="space col-md-12"> <!-- 12 Columns Description -->
                <div class="col-md-3 col-lg-3">
                    <a href="#" class="page-scroll btn btn-learn wow fadeInDown" data-wow-delay="1s"> Buy at Amazon</a> <!-- Buy button link-->
                </div>
                <div class="col-md-3 col-lg-3">
                    <a href="#" class="page-scroll btn btn-learn wow fadeInDown" data-wow-delay="1s"> Buy at Createspace</a> <!-- Buy button link-->
                </div>
                <div class="col-md-3 col-lg-3">
                    <a href="#" class="page-scroll btn btn-learn wow fadeInDown" data-wow-delay="1s"> Buy at eBook</a> <!-- Buy button link-->
                </div>
                <div class="col-md-3 col-lg-3">
                    <a href="#" class="page-scroll btn btn-learn wow fadeInDown" data-wow-delay="1s"> Buy at Kindle</a> <!-- Buy button link-->
                </div>
            </div> <!-- End 12 Columns Description -->

        </div> <!-- Start container-->
    </div><!-- Start background color overlay-->
    <div class="clearfix"></div> <!-- Clearfix -->
</section>


<!--========================
=== Other Books Section ====
=========================-->
<section id="books" class="light">
    <div class="container"> <!-- Start container -->

        <div class="row">  <!-- Section title and subtitle-->
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 wow fadeInDown" >
                <h2> Check out <span class="highlight">the Azat Mardan</span> other Books</h2> <!-- Section title-->
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                </p> <!-- Sub-title -->
            </div>
        </div> <!-- End section title and subtitle-->

        <div class="row"> <!-- Screenshots slider row -->
            <div class="col-sm-12 col-md-12 col-lg-12"> <!-- 12 col -->

                <div id="owl-books" class="owl-carousel"> <!-- Start Screenshots slider -->

                    <div class="item wow fadeInDown" data-wow-delay="1s" > <!-- Slider book 1 -->
                        <a href="http://www.apress.com/9781484217504" target="_blank"> <!-- Link to your book landing page -->
                            <img src="img/books/05.png" class="img-responsive" alt="img">
                        </a>
                        <h4 class="service-heading">Full Stack JavaScript - Learn Backbone.js, Node.js and MongoDB</h4>
                    </div><!-- End slider book 1 -->

                    <div class="item wow fadeInDown" data-wow-delay="1s"> <!-- Slider book 2 -->
                        <a href="http://practicalnodebook.com/" target="_blank"> <!-- Link to your book landing page -->
                            <img src="img/books/02.png" class="img-responsive" alt="img">
                        </a>
                        <h4 class="service-heading">Practical Node.js - Building Real-World Scalable Web Apps</h4>
                    </div> <!-- End slider book 2 -->

                    <div class="item wow fadeInDown" data-wow-delay="1s"> <!-- Slider book 3 -->
                        <a href="http://proexpressjs.com/" target="_blank"> <!-- Link to your book landing page -->
                            <img src="img/books/03.png" class="img-responsive" alt="img">
                        </a>
                        <h4 class="service-heading">Pro Express.js - Master Express.js The Node.js Framework For Your Web Development</h4>
                    </div> <!-- End slider book 3 -->

                    <div class="item wow fadeInDown" data-wow-delay="1s"> <!-- Slider book 4 -->
                        <a href="https://leanpub.com/ohmyjs?utm_source=azat.co" target="_blank"> <!-- Link to your book landing page -->
                            <img src="img/books/04.png" class="img-responsive" alt="img">
                        </a>
                        <h4 class="service-heading">Express.js - Deep API Reference</h4>
                    </div> <!-- End slider book 4 -->

                </div> <!-- End Screenshots slider -->
            </div> <!-- End 12 col -->

        </div> <!-- End screenshots slider row -->

    </div> <!-- End container -->
    <div class="clearfix"></div> <!-- Clearfix -->
</section>


<!--========================
===== About the Author =====
=========================-->
<section id="about">  <!-- Start contact -->
    <div class="container"> <!-- Start container -->
        <div class="row">  <!-- Start row -->

            <!-- Start Left content -->
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="wow fadeInDown"> <!-- Section title -->
                    <h2>A Message from the Author</h2>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="social-icons"> <!-- Start social media -->
                       <ul class="space  wow fadeInDown" data-wow-delay="1s">
                            <li><a href="https://www.linkedin.com/in/azatm" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li> <!-- Change # with your Behance Account -->
                            <li><a href="https://twitter.com/azat_co" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li> <!-- Change # with your Twitter Account -->
                            <li><a href="https://www.facebook.com/profile.php?id=1640484994" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li> <!-- Change # with your FB Account -->
                            <li><a href="https://plus.google.com/116816240985852388027/about" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a></li> <!-- Change # with your Google Account -->
                            <li><a href="https://github.com/azat-co" target="_blank"><i class="fa fa-github fa-2x"></i></a></li><!-- Change # with your GitHub Account -->
                            <li><a href="http://pinterest.com/azatco/" target="_blank"><i class="fa fa-pinterest-square fa-2x"></i></a></li><!-- Change # with your Pinterest Account -->
                       </ul> <!-- End social media -->
                    </div>
                    <a href="http://azat.co/" class="page-scroll btn btn-learn wow fadeInDown" data-wow-delay="1s" target="_blank"> Author Bio</a> <!-- Link to author's bio -->
                    <a href="http://webapplog.com/books/" class="page-scroll btn btn-download wow fadeInDown" data-wow-delay="1s" target="_blank"> Other Books</a> <!-- Link to Other Books-->
                </div>
            </div> <!-- End Left content -->

            <!-- Start Right content -->
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="wow fadeInRight">
                    <img src="img/about.png" class="img-responsive" alt="img"> <!-- Your book image display here -->
                </div>
            </div> <!-- Start Right content -->

        </div>  <!-- End row -->
    </div> <!-- End start container -->
    <div class="clearfix"></div> <!-- Clearfix -->
</section>


<!-- Contact Button
================================================== -->
<div id="contactbtn"> <!-- Start footer -->
  <div class="container"> <!-- Container -->
    <a id="show" class="wow fadeInDown" data-wow-delay="0.6s"><h2>Contact the Author</h2></a> <!-- Button to click toggle contact form -->
  </div> <!-- End container -->
</div> <!-- End footer -->


<!-- Toggle Contact Section
================================================== -->
<section id="contact">  <!-- Start contact -->
  <div class="container"> <!-- Container -->
    <div class="row"> <!-- Row -->
      <div class="col-md-12"> <!-- 12 column grid -->

        <form name="sentMessage" id="contactForm" novalidate>  <!-- Contact form -->
          <div class="row">

            <div class="col-md-6"> <!-- 6 column grid left form -->
              <div class="form-group"> <!-- Your name input -->
                <input type="text" autocomplete="off" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group"> <!-- Your email input -->
                <input type="email" autocomplete="off" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group"> <!-- Your phone no. input -->
                <input type="tel" autocomplete="off" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                <p class="help-block text-danger"></p>
              </div>
            </div> <!-- End 6 column grid left form -->

            <div class="col-md-6"> <!-- 6 column grid right form-->
              <div class="form-group"> <!-- Your message input -->
                <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div> <!-- End 6 column grid right form-->
            <br>
            <br>

            <div class="text-center">
              <div id="success"></div>
              <button type="submit" class="btn btn-learn">Send Message</button> <!-- Send button -->
            </div>

          </div>
        </form> <!-- End contact form -->

      </div> <!-- End 12 column grid -->
    </div> <!-- End row -->
  </div> <!-- End container -->
  <div class="clearfix"></div> <!-- Clearfix -->
</section> <!-- Start contact -->


<!--========================
=== Awards for the Book ====
=========================-->
<section id="awards" class="light">
    <div class="container"> <!-- Start container -->
        <div class="row">  <!-- Section title and subtitle-->
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 wow fadeInDown" >
                <h2> Awards for the Book</h2>
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                </p>
            </div>
        </div> <!-- End section title and subtitle-->
        <div class="row"> <!-- Start row -->
            <div class="space col-md-12 wow fadeInDown" data-wow-delay="1s"> <!-- Start row -->
                <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2  col-sm-2 col-md-2 col-lg-2">
                    <img src="img/awards/01.png" class="img-responsive" alt="">
                </div> <!-- End col -->
                <div class="col-sm-2 col-md-2 col-lg-2"> <!-- Start col-->
                    <img src="img/awards/02.png" class="img-responsive" alt="">
                </div> <!-- End col -->
                <div class="col-sm-2 col-md-2 col-lg-2"> <!-- Start col-->
                    <img src="img/awards/03.png" class="img-responsive" alt="">
                </div> <!-- End col -->
                <div class="col-sm-2 col-md-2 col-lg-2"> <!-- Start col-->
                    <img src="img/awards/04.png" class="img-responsive" alt="">
                </div> <!-- End col -->
            </div> <!-- Start row -->
        </div> <!-- End row-->

    </div> <!-- End container -->
    <div class="clearfix"></div> <!-- Clearfix -->
</section>


<!--========================
====== Footer Section ======
=========================-->
<section id="footer" class="light">
    <div class="container"> <!-- Start container -->
       <div class="row"> <!-- Start row -->
           <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                    <div class="socials"> <!-- Start social media -->
                       <ul class="top wow fadeInDown" data-wow-delay="1s">
                            <li><a href="https://www.linkedin.com/in/azatm"><i class="fa fa-linkedin fa-2x" target="_blank"></i></a></li> <!-- Change # with your Behance Account -->
                            <li><a href="https://twitter.com/azat_co"><i class="fa fa-twitter fa-2x" target="_blank"></i></a></li> <!-- Change # with your Twitter Account -->
                            <li><a href="https://www.facebook.com/profile.php?id=1640484994"><i class="fa fa-facebook fa-2x" target="_blank"></i></a></li> <!-- Change # with your FB Account -->
                            <li><a href="https://plus.google.com/116816240985852388027/about"><i class="fa fa-google-plus fa-2x" target="_blank"></i></a></li> <!-- Change # with your Google Account -->
                            <li><a href="https://github.com/azat-co"><i class="fa fa-github fa-2x" target="_blank"></i></a></li><!-- Change # with your Flickr Account -->
                            <li><a href="http://pinterest.com/azatco/"><i class="fa fa-pinterest-square fa-2x" target="_blank"></i></a></li><!-- Change # with your Pinterest Account -->
                       </ul> <!-- End social media -->
                    </div>
                <p class="wow fadeInDown" data-wow-delay="1s">Copyright &copy; 2016 Azat Mardan</p> <!-- Copyright Notice Here -->
            </div> <!-- End col -->

        </div> <!-- End row-->
    </div> <!-- End container -->
    <div class="clearfix"></div> <!-- Clearfix -->
</section>
{% endblock %}
